<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Build Chain Dummy</title>
	<script defer src="./dist/site.js"></script>
	<script defer src="./dist/home.js"></script>
	<link rel="stylesheet" href="./dist/site.css" >
	<link rel="stylesheet" href="./dist/home.css" >
	<link rel="stylesheet" href="./dist/random-number.css" >
	<link rel="shortcut icon" type="image/x-icon" href="data:image/x-icon;,">
</head>
<body></body>
</html>
